body {
	padding-top: 44px;
	margin-bottom: 80px;
}

nav {
	position: fixed;
	top: 0;
	height: 60px;

	background-color: black;
	color: white;
	width: 100%;

	font-family: "Caslon";
	text-align: right;
	padding-right: 20px;
	padding-top: 15px;
}
nav ul li {
	display: inline;
	padding: 30px;
}
nav a {
	color: white;
	text-decoration: none;
}
nav a:hover {
	color: #eee;
	text-decoration: none;
}

.container {
	max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
}

h3 {
	color: gray;
}

h3 a {
	color: gray;
	text-decoration: none;
}

h3 a:hover {
	color: teal;
	text-decoration: none;
}

.header {
	font-family: "Acrom";
}

.paragraph {
	font-family: "Caslon";
	line-height: 27px;
}

img {
  display: block;
  width: 100%; /* always stretch images to fill carousel container */
  height: auto;
}  

#avocado img {
	max-width: 65%;
}

.image-carrossel .item img{
  display: block;
  width: 100%; /* always stretch images to fill carousel container */
  height: auto;
}

.image-carrossel .item{ margin: 3px; /* border in between carousel images */ }
#footer {
  margin-top: 6em;
}
