body {
	font-family: "Open Sans";
	margin-top: 4em;
	margin-bottom: 5em;
	text-align: center;
	background-color: #303030;
}

#wrapper {
	width: 100%;
    height: auto;
}

#content {
	margin: 0 auto;
    width: 50em;
}

h1 {
	font-family: 'Bungee Hairline', cursive;
	font-size: 5em;
	color: #40E0D0;
}
h2 {
	font-size: 1.5em;
	color: #40E0D0;
	letter-spacing: 2px;
}

h4 {
	color: #AFEEEE;
}

p {
	font-family: "Open Sans";
	font-size: 1em;
	line-height: 1.6;
	margin-bottom: 1.5em;
	max-width: 50em;
	color: #D8D8D8;
}

ul li {
	color: #D8D8D8;
	list-style-type: none;
}

a, a:visited {
	color: #40E0D0;
	text-decoration: none;
}

a:hover {
	color: #D8D8D8;
}