body {
	font-family: "Proxima Nova";
	margin-top: 5em;
	margin-left: 5em;
	margin-right: auto;
	max-width: 45em;
}

h2 {
	font-family: "Proxima Nova";
	font-size: 1.5em;
	letter-spacing: 1px;
}

h3 {
	font-family: "Proxima Nova";
	letter-spacing: 1px;
	margin-bottom: 1em;
}

p {
	font-family: "Courier New";
	margin-bottom: 5px;
}

ul {
	font-family: "Courier New";
}

ul li {
	font-family: "Courier New";
	margin-bottom: 1em;
}

ol {
	font-family: "Courier New";
}

a, a:visited {
	color: black;
}

a:hover {
	color: darkcyan;
}

img {
	width: 45em;
}

