body {
	font-family: "Proxima Nova";
	margin-top: 5em;
	margin-bottom: 5em;
	margin-left: 5em;
	margin-right: auto;
	max-width: 60em;
}

p #homebutton {
	display: block;
	border: 1px black;
	padding: 5px;
	
}

h1, h2, h3, h4 {
	font-family: "Proxima Nova";
	letter-spacing: 1px;
	margin-bottom: 1em;
}

p {
	font-family: "Courier New";
	margin-bottom: 5px;
}

/*///////////////////////////////////////////*/

/*nav ul li {
	display: block;
	font-family: "Proxima Nova";
	letter-spacing: 1.5px;
	list-style-type: none;
	padding: 10px;
}*/

/*///////////////////////////////////////////*/

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

nav ul li {
	font-family: "Proxima Nova";
	letter-spacing: 1.5px;
}

article {
    margin-left: 170px;
    border-left: 1px;
    padding: 1em;
    overflow: hidden;
}

/*///////////////////////////////////////////*/

/*nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}*/

/*///////////////////////////////////////////*/

ul {
	font-family: "Courier New";
}

ul li {
	font-family: "Courier New";
	margin-bottom: 1em;
}

ol {
	font-family: "Courier New";
}

a, a:visited {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: black;
}

img {
	width: 45em;
}